In [7]:
fruits=["Apple","Oranges","Grapes"]

In [8]:
a_list = [23, 'hello', None, 3.14, fruits, 3 <= 5]

In [9]:
a_list

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [10]:
len(a_list)

6

In [11]:
a_list[1:4]

['hello', None, 3.14]

In [12]:
a_list[:-1]

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes']]

In [13]:
a_list[0:]

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [14]:
a_list[:]

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [15]:
a_list[1:]

['hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [17]:
a_list[2:5]

[None, 3.14, ['Apple', 'Oranges', 'Grapes']]

In [18]:
a_list[1:10]

['hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [19]:
a_list[12:18]

[]

In [20]:
a_list[:5]

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes']]

In [38]:
a_list[:2]

[23, 'hello']

In [40]:
a_list[-2:-1]

[['Apple', 'Oranges', 'Grapes']]

In [29]:
a_list[-2:4]

[]

In [30]:
a_list

[23, 'hello', None, 3.14, ['Apple', 'Oranges', 'Grapes'], True]

In [24]:
a_list[2:-3]

[None]

In [37]:
a_list[2:-4]

[]

## It Shows empty list because the Second index is greater than first index couting from another side.

In [26]:
a_list[2:-6]

[]

In [28]:
a_list[2:-7]

[]

###  While Inserting a value in list we have to give an index number also while poping if we donot give any index while poping it remove it  from end of the list.

### To make a copy simply use .copy()

## Reversing a list

In [55]:
more_fruits=fruits+["cherry","tomato","dates"]

In [56]:
more_fruits

['Apple', 'Oranges', 'Grapes', 'cherry', 'tomato', 'dates']

In [63]:
more_fruits.reverse()
print("list after reversing",more_fruits)

list after reversing ['dates', 'tomato', 'cherry', 'Grapes', 'Oranges', 'Apple']

## Sorting in Alphabetical Order

In [64]:
sorted_list=sorted(more_fruits)
sorted_list

['Apple', 'Grapes', 'Oranges', 'cherry', 'dates', 'tomato']

## Arrangeing in descending Order

In [65]:
desc_sort=sorted(fruits,reverse=True)
desc_sort

['Oranges', 'Grapes', 'Apple']

# Note:
A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses ( and ), separated by commas.

Any data structure that cannot be modified after creation is called immutable. You can think of tuples as immutable lists.

In [67]:
a=3,

In [68]:
type(a)

tuple

# Note:

We can convert a list into a tuple using the tuple function, and vice versa using the list function

In [69]:
tuple(["one","Avenger"])

('one', 'Avenger')

In [74]:
a_tuple = 23, "hello", False, None, 23, 37, "hello"

In [85]:
b=a_tuple.count(23)
b

2

In [87]:
c=a_tuple.index(False)
c

2

## Dictionaries

In [88]:
person={
    "name":"Ashish",
    "Age":20,
    "Sex":"Male"
    
}

In [89]:
person

{'name': 'Ashish', 'Age': 20, 'Sex': 'Male'}

In [91]:
person.keys()

dict_keys(['name', 'Age', 'Sex'])

In [92]:
person.values()

dict_values(['Ashish', 20, 'Male'])

In [93]:
person["address"]="CA"

In [94]:
person

{'name': 'Ashish', 'Age': 20, 'Sex': 'Male', 'address': 'CA'}

In [98]:
((person.items()))

dict_items([('name', 'Ashish'), ('Age', 20), ('Sex', 'Male'), ('address', 'CA')])

## While Loop

In [104]:
i=1
while i< 10:
   
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

In [105]:
i=1
while i<=10:
    i+=1
    print(i)

2
3
4
5
6
7
8
9
10
11

### Explanation:

Here in first case `i` start with `1` because in first case we first printing `i` then incrementing  it, while in second case first we incrementing it then printing it.

In [109]:
result=1
i=1

while i<=100:
    
    result=result*i
    i=i+1

    
print(result)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

## Nested For Loop

In [112]:
days=["Monday","Tuesday","Wednesday"]
fruits=["Apple","Banana","Guava"]

for day in days:
    for fruit in fruits:
        print(day,fruit)

Monday Apple
Monday Banana
Monday Guava
Tuesday Apple
Tuesday Banana
Tuesday Guava
Wednesday Apple
Wednesday Banana
Wednesday Guava

In [85]:
star="*"
max_length=5

while len(star)<=max_length:
    print(star)
    star+="*"

*
**
***
****
*****

In [86]:
while len(star) >0:
    print(star)
    star = star[:-1]

******
*****
****
***
**
*

In [88]:
star="*"
max_length=8

while len(star)<= max_length:
    print(star)
    star+="*"

while len(star)>0:
    print(star)
    star=star[:-1]

*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [150]:
and1="&"
max_length=10

while len(and1)<=(max_length):
    print(and1)
    and1+= "&"

&
&&
&&&
&&&&
&&&&&
&&&&&&
&&&&&&&
&&&&&&&&
&&&&&&&&&
&&&&&&&&&&

In [151]:
while len(and1)> 0:
    print(and1)
    and1=and1[:-1]

&&&&&&&&&&&
&&&&&&&&&&
&&&&&&&&&
&&&&&&&&
&&&&&&&
&&&&&&
&&&&&
&&&&
&&&
&&
&

In [159]:
and1="&"
max_length=10

while len(and1)<=(max_length):
    print(and1)
    and1+= "&"
    
while len(and1)> 0:
    print(and1)
    and1=and1[:-1]

&
&&
&&&
&&&&
&&&&&
&&&&&&
&&&&&&&
&&&&&&&&
&&&&&&&&&
&&&&&&&&&&
&&&&&&&&&&&
&&&&&&&&&&
&&&&&&&&&
&&&&&&&&
&&&&&&&
&&&&&&
&&&&&
&&&&
&&&
&&
&

In [160]:
i = 1
result = 1

while i <= 100:
    result *= i
    if i == 42:
        print('Magic number 42 reached! Stopping execution..')
        break
    i += 1
    
print('i:', i)
print('result:', result)

Magic number 42 reached! Stopping execution..
i: 42
result: 1405006117752879898543142606244511569936384000000000

In [10]:
a = 2
b = 10
c = 20

a,b,c

(2, 10, 20)

In [11]:
(a * b + (c ** a // b - b) )

50

In [17]:
(c ** a // b - b)

30

In [13]:
c**a

400

In [14]:
b-b

0

In [15]:
400//0

ZeroDivisionError: integer division or modulo by zero

In [22]:
num = 35
# Line 1 
if num==10 and num<20:
    print(“Between 10 and 20”)    # Line 3
else    # Line 4
    print(“Greater Than 20’)    # Line 5

SyntaxError: invalid character in identifier (Temp/ipykernel_9024/3849863010.py, line 4)

In [23]:
"michigan" < "oxford" < "stanford"

True

In [24]:
if {None: None}:
    print("Well Done!")
else:
    print("Wrong")

Well Done!

In [25]:
'Even' if a % 2 == 0 else 'Odd'

'Even'

In [26]:
if  a%2 = 0:
    print("Even")
else:
    print("Odd")

SyntaxError: invalid syntax (Temp/ipykernel_9024/902795309.py, line 1)

In [27]:
star_list = ""
for i in range(5):
    star_list += " *"
    print(" "*(4-i),star_list)

      *
     * *
    * * *
   * * * *
  * * * * *

In [90]:
i = 1
j = 0
while 1: # 1 to execute the condition for every time
    i+=1
    if i%2 == 0:
        continue
    j+=1
    if i > 10:
        break
c = i + j*2
print(c)

21

In [91]:
j=0

while j<10:
    print(j)
    j+=1

0
1
2
3
4
5
6
7
8
9

In [29]:
def func(x):
    return x%2 == 0

li = [2,9,5,10,11,34,57,66,93,102]
li = list(map(func,li))
print(sum(li))

5

In [30]:
type(1/1)

float

In [33]:
(0/1)

0.0

In [34]:
(5.3 // 2)

2.0

In [35]:
li = [[(i+1) for i in range(5)] for j in range(5)]
for line in li:
    print(*line[::-1])

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [36]:
type(5//2)

int

In [37]:
def make_multiplier(n):
    def multiplier(x,y):
        return x * n + y
    return multiplier

num1 = make_multiplier(6)
num2 = make_multiplier(9)

print(num1(2,5))
print(num2(5,5))
print(num2(num2(3,3),num1(5,10)))

17
50
310

In [38]:
a = 100
b = 200
print(a and b)

200

In [39]:
type(1)

int

In [42]:
"day" in "saturday"

True

In [44]:
type({1,1,1,2,2,3})

set

In [45]:
li = ["a", "b", "c"]
li1 = li

In [47]:
li1
li1.pop(0)

'a'

In [48]:
li.append("d")

In [49]:
li

['b', 'c', 'd']

In [50]:
li1

['b', 'c', 'd']

In [51]:
li2 = li.copy()
li2

['b', 'c', 'd']

In [52]:
li1.append("e")

In [53]:
li1

['b', 'c', 'd', 'e']

In [54]:
li2.pop()

'd'

In [56]:
len(li2)

2

In [57]:
var = "abcdefg"
var1 = var
var1[2] = z
print(var)

NameError: name 'z' is not defined

In [62]:
day = "Thursday"
day.lower()

'thursday'

In [65]:
val="Thurs" in day
val

True

In [66]:
no_of_days = 6
is_today_sunday = True
print(no_of_days - is_today_sunday)

5

In [67]:
a = 23.5
b = 4
print(type(a//b))

<class 'float'>

In [68]:
a b = 10, 20
c = a + b * (b//a)
print(c)

SyntaxError: invalid syntax (Temp/ipykernel_9024/48183048.py, line 1)

In [72]:
print(False or True and False or True and False)

False

In [73]:
 line = "Hello! John"
line1 = line
line.replace("Hello", "Good Morning")
print(line1 == line)

True

In [74]:
direction = ["East", "West", "North", "South"]
residence = [5, 9, 3, 15]
i = 0
for direction in directions:
    print(f"There are {residence[i]} residence in {direction}")
    i += 1

NameError: name 'directions' is not defined

In [75]:
12 + 5 ** 2 * 3 // (7 + 8) - 3 % 10

14

In [76]:
x = 0
x > 0 or 10/x

ZeroDivisionError: division by zero

In [77]:
x = 0
x > 0 and 10/x

False

In [82]:
a = round(-0.1)
if a:
    print("Hello World")

In [83]:
V1_xyw=10
V1_xyw

10

In [84]:
my-var=10
my-var

SyntaxError: cannot assign to operator (Temp/ipykernel_9024/2901286714.py, line 1)

In [99]:
def f1():
    x=100
    print(x)
   

x+=1
f1()

100

## Exercise - Data Analysis for Vacation Planning


You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.

City	 Return Flight ($)	 Hotel per day ($)	  Weekly Car Rental ($)

Paris	200	  20	    200

London	250	  30	    120

Dubai	370	  15	    80

Mumbai	450	  10	   70

Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?

2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?

3. If your total budget for the trip is $1000, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?

4. How does the answer to the previous question change if your budget is $600, $2000, or $1500?


Hint: To answer these questions, it will help to define a function cost_of_trip with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the math.ceil function useful for calculating the total cost of car rental.

In [2]:
def cost_of_trip():
    pass

In [18]:
def cost_of_trip(Return_flight,Hotel_per_day,Weekly_car_rental,No_of_days):
    total_cost_of_trip=Return_flight+Hotel_per_day*No_of_days+Weekly_car_rental
    return total_cost_of_trip

In [19]:
Paris_trip_cost=cost_of_trip(Return_flight=200,Hotel_per_day=20,Weekly_car_rental=200,No_of_days=7)

In [20]:
print("The cost of Paris trip for One Week  is ${}".format(Paris_trip_cost))

The cost of Paris trip for One Week  is $540

In [21]:
London_trip_cost=cost_of_trip(Return_flight=250,Hotel_per_day=30,Weekly_car_rental=120,No_of_days=7)

In [22]:
print("The cost of Paris trip for One Week  is ${}".format(London_trip_cost))

The cost of Paris trip for One Week  is $580

In [23]:
Dubai_trip_cost=cost_of_trip(Return_flight=370,Hotel_per_day=15,Weekly_car_rental=80,No_of_days=7)

In [24]:
print("The cost of Paris trip for One Week  is ${}".format(Dubai_trip_cost))

The cost of Paris trip for One Week  is $555

In [25]:
Mumbai_trip_cost=cost_of_trip(Return_flight=450,Hotel_per_day=10,Weekly_car_rental=70,No_of_days=7)

In [26]:
print("The cost of Paris trip for One Week  is ${}".format(Mumbai_trip_cost))

The cost of Paris trip for One Week  is $590

## Trip Duration for 10 days

In [27]:
Paris_trip_cost=cost_of_trip(Return_flight=200,Hotel_per_day=20,Weekly_car_rental=200,No_of_days=10)

In [28]:
print("The cost of Paris trip for One Week  is ${}".format(Paris_trip_cost))

The cost of Paris trip for One Week  is $600

In [29]:
London_trip_cost=cost_of_trip(Return_flight=250,Hotel_per_day=30,Weekly_car_rental=120,No_of_days=10)

In [30]:
print("The cost of Paris trip for One Week  is ${}".format(London_trip_cost))

The cost of Paris trip for One Week  is $670

In [33]:
Dubai_trip_cost=cost_of_trip(Return_flight=370,Hotel_per_day=15,Weekly_car_rental=80,No_of_days=10)

In [34]:
print("The cost of Paris trip for One Week  is ${}".format(Dubai_trip_cost))

The cost of Paris trip for One Week  is $600

In [35]:
Mumbai_trip_cost=cost_of_trip(Return_flight=450,Hotel_per_day=10,Weekly_car_rental=70,No_of_days=10)

In [36]:
print("The cost of Paris trip for One Week  is ${}".format(Mumbai_trip_cost))

The cost of Paris trip for One Week  is $620